/*
property transition:
[property] <durasi> [fungsi] [delay];


*/


.kontainer{
    margin: 10px auto;
    border: 5px solid black;
    width: 1000px;
    height: 800px;
}

.kotak1{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    transition: all 1s ease;
    margin : 5px 0;
    text-align: center;
    line-height: 100px;
}

.kotak2{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    transition: all 1s ease-in;
    margin : 5px 0;
    text-align: center;
    line-height: 100px;
}
.kotak3{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    transition: all 1s ease-out;
    margin : 5px 0;
    text-align: center;
    line-height: 100px;
}
.kotak4{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    transition: all 1s ease-in-out;
    margin : 5px 0;
    text-align: center;
    line-height: 100px;
}
.kotak5{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    transition: all 1s linear;
    margin : 5px 0;
    text-align: center;
    line-height: 100px;
}
.kotak6{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin : 5px 0;
    text-align: center;
    line-height: 100px;
}

.kontainer:hover .kotak1{
    transform: rotate(360deg);
    background-color: lightgreen;
    margin-left: 900px;
}

.kontainer:hover .kotak2{
    transform: rotate(360deg);
    background-color: lightgreen;
    margin-left: 900px;
}

.kontainer:hover .kotak3{
    transform: rotate(360deg);
    background-color: lightgreen;
    margin-left: 900px;
}

.kontainer:hover .kotak4{
    transform: rotate(360deg);
    background-color: lightgreen;
    margin-left: 900px;
}

.kontainer:hover .kotak5{
    transform: rotate(360deg);
    background-color: lightgreen;
    margin-left: 900px;
}

.kontainer:hover .kotak6{
    transform: rotate(360deg);
    background-color: lightgreen;
    margin-left: 900px;
}
