body{
    background-color: white;
    background-image: url(moroccan-flower.png);
    background-repeat: repeat-y;
    background-position: top center;
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: khaki;
    text-decoration: underline;
    font-style: italic;
}