.container{
    width: 800px;
    margin: auto;
    border: 5px solid black;
    overflow: auto;
}

h1{
    background-color: lightblue;
    width: 200px;
    height: 200px;
    margin: 10px;
    float: right;
}

/* jika ingin membuat container tetap sesuai dengan gambar maka kita dapat mengakalinya dengan overflow  yang memiliki value auto*/